.menu a {
   @apply text-5xl mb-10 font-semibold text-white md:text-base md:mb-0 md:ml-8 lg:ml-10 md:font-medium transition-colors duration-200;
}
.menu a:hover {
   color: #b033fa;
}

.menu .active {
   /* @apply text-purple-600; */
   color: #b033fa;
}

.NavItem {
   color: #ffffff;
}
.NavItem:active {
   color: #b033fa;
}
